 .u-section-1 {
  background-position: 50% 0%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/image.png'), linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 895px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 179px auto 0 38px;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-1 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-2 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -288px auto 0 309px;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-2 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-3 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -288px 324px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-3 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-4 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -288px 50px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-4 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-5 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 50px auto 0 38px;
}

.u-section-1 .u-container-layout-5 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-5 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-6 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -288px auto 0 309px;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-6 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-7 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -288px 324px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-7 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-8 {
  width: 221px;
  height: auto;
  min-height: 288px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -288px 53px 60px auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 7px 8px;
}

.u-section-1 .u-shape-8 {
  width: 202px;
  height: 212px;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 319px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 119px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 119px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 119px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 119px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 30px;
}

.u-section-2 .u-back-image-1 {
  width: 557px;
}

.u-section-2 .u-over-slide-1 {
  padding: 30px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 30px;
}

.u-section-2 .u-back-image-2 {
  width: 557px;
}

.u-section-2 .u-over-slide-2 {
  padding: 30px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
} .u-section-3 {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("images/image.png");
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 1558px;
}

.u-section-3 .u-image-1 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 57px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 307px;
}

.u-section-3 .u-image-3 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 621px;
}

.u-section-3 .u-image-4 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 916px;
}

.u-section-3 .u-image-5 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 90px auto 0 0;
}

.u-section-3 .u-image-6 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 307px;
}

.u-section-3 .u-image-7 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px 295px 0 auto;
}

.u-section-3 .u-image-8 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 916px;
}

.u-section-3 .u-image-9 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 90px auto 0 0;
}

.u-section-3 .u-image-10 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 307px;
}

.u-section-3 .u-image-11 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 621px;
}

.u-section-3 .u-image-12 {
  width: 224px;
  height: 304px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 60px 916px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 716px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 716px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 716px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 496px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 496px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 496px;
  }

  .u-section-3 .u-image-11 {
    margin-left: 496px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 496px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 316px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 316px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 316px;
  }

  .u-section-3 .u-image-11 {
    margin-left: 316px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 116px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 116px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 116px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 116px;
  }

  .u-section-3 .u-image-7 {
    margin-right: 116px;
  }

  .u-section-3 .u-image-8 {
    margin-left: 116px;
  }

  .u-section-3 .u-image-10 {
    margin-left: 116px;
  }

  .u-section-3 .u-image-11 {
    margin-left: 116px;
  }

  .u-section-3 .u-image-12 {
    margin-left: 116px;
  }
}